@charset "UTF-8";

body {
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

h1 {
    color: rgb(161, 2, 2);
}

h2 {
    color: rgb(117, 3, 89);
}

p {
    text-align: justify;
}