@charset "UTF-8";

@media screen and (min-width: 760px) {
    
    section {
        width: 500px;
        display: inline-block;
    }

    div {
        display: inline-block;
        margin: none;
        padding: none;
    }

    div#imagem {
        width: 150px;
        height: 250px;
        background-position: left center;
        position: relative;
        right: 127px;
    }

    div#inputs {
        position: relative;
        left: 60px;
        bottom: 55px;
    }

    p {
        display: none;
    }
}