@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #217373, #173540);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0e2027c7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #33336B;
    text-align: center;

}

h2 {
    color: #161F30;

}

p {
    text-align: justify;
}